spring:
  main:
    web-application-type: NONE

  datasource:
    url: jdbc:mysql://127.0.0.1:3306/lingo
    username: root
    password: root

  jpa:
    properties:
      hibernate:
        format_sql: true
        jdbc:
          batch_size: 4
        order_inserts: true
    hibernate:
      ddl-auto: update